*,
*::after,
*::before {box-sizing: border-box;}

body { 
	margin: 0; 
	font-family: "Work Sans", sans-serif;
	font-size: 15px;
}

h1,h2,h3,h4,h5,h6,p { margin: 0; }

a {	text-decoration: none; color: black;}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Wrap */

.wrap {
	position: relative;
	height: 100vh;
	min-height: 450px;
}

/* Header */

.header {
	background-color: #fff;
	/* background-color: transparent; */
	transition: background-color .3s linear;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.header_transparent {
	background-color: transparent;
}

.header__dark-logo {
	position: absolute;
	opacity: 0;
	transition: opacity .3s linear;
}

.header__light-logo {
	position: absolute;
	opacity: 1;
	transition: opacity .3s linear;

}

.header__content {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
	align-items: center;
}

.header__logo {
	position: relative;
	z-index: 100;
}

.header__logo img {
	max-width: 82px;
}

/* Nav */

.nav__item {
	color: #6c6c6c;
	transition: color .2s linear;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 15px;
	font-size: 14px;
}

.nav__item:hover {
	color: #0e0e0e;
}

.nav__item_light {
	color: #bfbfbf;
}

.nav__item_light:hover {
	color: #fff;
}

.nav__social {
	display: none;
}

/* Burger */

.burger {
	display: none;
	padding: 10px 0;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	outline: 0;
}

.burger__item {
	height: 2px;
	width: 25px;
	background-color: #000;
	position: relative;
	font-size: 0;

}

.burger__item::before, .burger__item::after {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	background-color: #000;
	position: absolute;
}

.burger__item::before {
	top: -7px;
}

.burger__item::after {
	top: 7px;
}

.burger__item_light,
.burger__item_light::before,
.burger__item_light::after {
	background-color: #bfbfbf;
}

/* Bg-image */
.bg-image {
	background: url('../images/main/home-7.jpg');
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.bg-image__overlay {
	background-color: rgba(12, 12, 12, 0.6);
	height: 100%;
}

/* Head-section */
.head-section {
	color: #fff;
	text-align: center;
	font-size: 14px;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translate(0, -50%);
}

.head-section__subtitle {
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.head-section__title {
	font-size: 50px;
	font-family: 'Playfair Display', serif;
}

.head-section__title span {
	font-style: italic;
	font-weight: 400;
}

/* Down-btn */
.down-btn {
	color: #fff;
	font-size: 30px;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 7%;
	left: 50%;
	transform: translate(-50%,0);
	opacity: 0.6;
	border: 1px solid #fff;
	text-align: center;
	border-radius: 50%;
	transition: opacity .2s linear;
}

.down-btn:hover {
	opacity: 1;
}

.down-btn i {
	line-height: 50px;
}

/* Section */
.section {
	padding: 90px 0 100px;
	text-align: center;
}

.section_grey {
	background-color: #fafafa;
}

.section_dark-grey {
	background-color: #f6f6f6;
	border-top: 1px solid #ececec;
}

.section__title {
	font-family: 'Playfair Display', serif;
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 40px;
}

.section__text {
	color: #5f5f5f;
	max-width: 770px;
	margin: 0 auto;
	line-height: 24px;
	margin-bottom: 40px;
}

/* Black-section */

.black-section {
	background: url('..//images/black-section/pattern-bg.jpg');
	color: #fff
}

/* Features */
.features {
	display: flex;
	padding: 120px 0 100px;
	justify-content: space-evenly;
}

.features__item {
	display: flex;
	align-items: center;	
}

.features__item + .features__item {
	margin-left: 20px;
}

.features__icon	{
	font-size: 48px;
	height: 48px;
	width: 48px;
	margin-right: 28px;
}
.features__icon i {
	line-height: 48px;
}

.features__count {
	font-size: 18px;
	margin-bottom: 10px;
}

.features__title {
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
}

/* Projects */
.projects {
	display: flex;
	justify-content: space-between;
}

.projects__col {
	width: 31.62%;
	display: flex;
	flex-direction: column;
}

.projects__item {
	display: block;
	background-color: #000;
	position: relative;
}

.projects__item:nth-child(2) {
	margin: 8.11% 0;
}

.projects__img {
	max-width: 100%;
	height: auto;
	display: block;
	transition: opacity .3s linear;
}

.projects__item:hover .projects__img{
	opacity: 0.15;
}

.projects__item:hover .projects__text {
	opacity: 1;
	transform: translate(0, -50%);
}

.projects__text {
	position: absolute;
	text-align: center;
	transform: translate(0, -25%);
	top: 50%;
	width: 100%;
	opacity: 0;
	transition: all .3s linear ;
	transition-delay: .2s;
	color: #fff;
}

.projects__title {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 10px;
}

.projects__subtitle {
	font-size: 14px;
	font-weight: 500;
	transition-delay: 0.5s;
	text-transform: uppercase;
}

/* Quotes */

.quotes {
	/* padding: 180px 0 110px; */
	text-align: center;
	max-width: 770px;
	margin: 0 auto;
}

.quotes__content {
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 40px;
	line-height: 36px;
}

.quotes__author {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
}

/* Owl-Carousel */

.quote-block {
	padding: 130px 15px 60px;
}

.carousel-item {
	cursor: grab;
}

.quote-block .owl-dots {
	margin-top: 50px;
	height: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quote-block button.owl-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.25;
  margin: 0 3px;
  outline: 0;
}

/* Parner */

.partner {
	/* display: flex; */
	/* justify-content: space-between; */
	padding: 25px 0;
}
.partner__item {
	/* width: 14.52%; */
}

.partner__img {
	/* display: block;
	max-width: 80%;
	height: auto;
	margin: 0 auto; */
}

/* Blog */
.blog {
	/* display: flex;
	justify-content: space-between; */
	margin: -20px 0 -40px;
}

.blog__item {
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 19px 3px rgba(0, 0, 0, 0.15);
}

.blog .owl-stage {
	display: flex;
}
.blog .owl-item {
	flex-basis: auto; 
	flex-shrink: 0;
	padding: 20px;
}

.blog .owl-dots {
	margin-top: 50px;
	height: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blog button.owl-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5f5f;
  opacity: 0.25;
  margin: 0 3px;
  outline: 0;
}

.blog__header {
	position: relative;
}

.blog__img {
	max-width: 100%;
	height: auto;
	display: block;
	transition: opacity .2s linear;
}

.blog__img:hover {
	opacity: 0.6;
}

.blog__theme {
	position: absolute;
	bottom: 12px;
	left: 10px;
	display: inline-block;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	width: 90px;
	height: 30px;
	line-height: 30px;
	transition: background-color .2s linear;
}

.blog__theme:hover {
	background-color: #393939;
}

.blog__content {
	background-color: #fff;
	text-align: left;
	padding: 20px 30px 25px 
}

.blog__title {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 15px;
	transition: opacity .2s linear;
}

.blog__title:hover {
	opacity: 0.6;
}

.blog__date {
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.blog__text {
	font-size: 15px;
	color: #5f5f5f;
}

/* Contact */

.contact {
	display: flex;
	justify-content: space-between;
}

.contact__info {
	text-align: left;
	width: 40.17%;
}

.contact__item {
	color: #5f5f5f;
}

.contact__item + .contact__item {
	margin-top: 25px;
}

.contact__name {
	color: #000;
	font-weight: 500;
	margin-right: 10px;
}

/* Form */

.form {
	width: 57.26%;
}

.form__wrap {
	display: flex;
}

.form__field {
	border: 0;
	display: block;
	width: 100%;
	margin-bottom: 30px;
	font-family: "Work Sans", sans-serif;
	font-size: 14px;
	padding: 15px;
	outline: 0;
}

.form__field::placeholder {
	font-family: "Work Sans", sans-serif;
	font-size: 14px;
	color: #858585;
}

.form__field:first-child {
	margin-right: 30px;
}

.form__area {
	height: 250px;
}

.form__submit {
	border: 0;
	background-color: #000;
	color: #fff;
	font-family: "Work Sans", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	display: block;
	width: 180px;
	height: 55px;
	transition: background-color .2s linear;
	cursor: pointer;
	margin-bottom: 20px;
	text-align: center;
}

.form__submit:hover {
	background-color: #393939;
}


/* Footer */

.footer {
	background-color: #000;
	background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('../images/footer/footer-1.jpg');
	background-size: cover;
	background-position: 50% 50%;
	padding: 80px 0;
}

.footer__content {
	display: flex;
	justify-content: space-between;
}

.footer__item {
	font-family: 'Playfair Display', serif;
	color: #fff;
	width: 31.62%;
}

.footer__title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 40px;
}

.footer__text {
	margin-bottom: 45px;
	line-height: 24px;
}

/* Social */

.social__item {
	color: #fff;
	font-size: 20px;
	transition: opacity .2s linear;
}

.social__item + .social__item {
	margin-left: 10px;
}

.social__item:hover {
	opacity: 0.5;
}

.social__item_grey {
	color: #d8d8d8;
	transition: color .2s linear;
}

.social__item_grey:hover {
	color: #fff;
	opacity: 1;
}


/* Tweet */

.tweet {
	position: relative;
	padding-left: 30px;
	font-family: "Work Sans", sans-serif;
	line-height: 24px;
	
}

.tweet + .tweet {
	margin-top: 30px;
}

.tweet__icon {
	position: absolute;
	font-size: 15px;
	top: 5px;
	left: 0;
	vertical-align: middle;
}

/* Instagram */

.instagram__link {
	transition: opacity .2s linear;
}

.instagram__link:hover {
	opacity: 0.6;
}

.instagram__img {
	width: 85px;
	height: 85px;
}

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
	
	/* Instagram */

	.instagram {
		padding-right: 20px;
	}

	.instagram__link:nth-child(4n) {
		display: none;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	/* Header */
	.header__content {
		padding: 35px 15px;
	}

	/* Nav */

	/* .header__logo, .burger {
		z-index: 2;
	} */
	
	.nav-expand {
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		height: 100vh;
		width: 100%;
	}
	.nav {
		
		/* position: fixed; */
		height: 100vh;
		width: 100%;
		/* top: 0; */
		/* left: 0; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-image: url('../images/header/bg-menu.jpg');
		background-size: cover;
		background-position: 50% 50%;
		background-color: #000;
		z-index: 1;
		/* display: none; */
	}

	.nav__item {
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		font-size: 25px;
		padding: 10px 0;
		color: #d8d8d8;
	}

	.nav__social {
		display: block;
		position: absolute;
		bottom: 10%;

	}

	.nav__item:hover {
		color: #fff;
	}

	/* Burger */

	.burger {
		display: block;
		z-index: 100;
	}

	/* Head-section */

	.head-section__subtitle {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.head-section__title {
		font-size: 45px;
	}

	/* Section */
	.section {
		padding: 50px 0;
	}

	.section__title {
		font-size: 35px;
	}

	/* Features */

	.features {
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 80px 0;
	}

	.features__item {
		width: 35%;
	}
	.features__item:nth-child(-n+2) {
		margin-bottom: 30px;
	}

	.features__item + .features__item {
		margin-left: 0px;
	}

	/* Projects */
	.projects {
		flex-wrap: wrap;
		justify-content: center;
	}

	.projects__col {
		width: 85%;
	}
	
	.projects__col + .projects__col {
		margin-top: 20px;
	}

	.projects__item:nth-child(2) {
		margin: 20px 0;
	}

	/* Quotes */

	/* .quotes {
		padding: 80px 0;
	} */

	.quotes__content {
		margin-bottom: 25px;
	}

	/* Owl-carousel */

	.quote-block {
		padding: 80px 15px 40px;
	}

	/* Partner */

	.partner__item {
		/* width: 25%; */
	}
	
	.partner__item:nth-last-child(-n+2) {
		/* display: none; */
	}

	/* Blog */

	.blog .owl-dots {
	margin: 25px 0;	
	}
	/* .blog {
		flex-wrap: wrap;
	}

	.blog__item {
		width: 100%;
	}

	.blog__item + .blog__item {
		margin-top: 20px;
	} */

	/* Contact */

	.contact {
		flex-wrap: wrap;
	}

	.contact__info {
		width: 100%;
		margin-bottom: 30px;
	}

	/* Form */
	.form {
		width: 100%;
	}

	.form__area {
		height: 150px;
	}

	/* Footer */
	
	.footer {
		padding: 60px 0 30px;
	}

	.footer__content {
		flex-wrap: wrap;
	}

	.footer__item {
		width: 100%;
	}

	.footer__item + .footer__item {
		margin-top: 30px;
	}

	.footer__title {
		margin-bottom: 20px;
	}

	.footer__text {
		margin-bottom: 15px;
	}

	.tweet + .tweet {
		margin-top: 15px;
	}

	/* Instagram */

	.instagram {
		max-width: 400px;
	}

	.instagram__link:nth-child(4n) {
		display: inline;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	/* Section */
	.section {
		padding: 35px 0;
	}

	/* Header */

	.header__content {
		padding: 25px 0;
	}	

	/* Head-section */

	.head-section__subtitle {
		font-size: 12px;
	}
	
	.head-section__title {
		font-size: 35px;
	}

	/* Features */

	.features {
		padding: 60px 0;
		flex-direction: column;
		align-items: center;
	}

	.features__item {
		width: 230px;
	}

	.features__item + .features__item {
		margin-top: 30px;
	}

	.features__item:nth-child(-n+2) {
		margin-bottom: 0px;
	}

	/* Projects */
	.projects__col {
		width: 100%;
	}

	/* Quotes */

	.quotes {
		/* padding: 65px 0; */
	}

	/* Owl-carousel */

	.owl-carousel {
		/* padding: 80px 15px 40px; */
	}

	/* Partner */
	.partner__item {
		/* width: 33%; */
	}

	/* Blog */
	.blog .owl-dots {
	/* margin: 20px 0; */
	margin-top: 10px;
	}

	/* Footer */
	.footer {
		padding-top: 40px;
	}

	/* Instagram */

	.instagram {
		padding-right: 0px;
		/* margin: 0 auto; */
	}
}